.container {
  display: flex;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
}

.word-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f0f0f0; /* Light gray background */
}

.highlighted {
  background-color: yellow; 
}
